<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.zqw.sqlannotation.mapper.BookMapper">
    <!--插入一条记录-->
    <insert id="insert" parameterType="com.learn.zqw.sqlannotation.domain.Book">
        insert into book (name, num, library_id) values (#{name}, #{num}, #{library.id})
    </insert>

    <!--插入记录并返回ID-->
    <insert id="insertReturnId" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.learn.zqw.sqlannotation.domain.Book">
        insert into book(name, num, library_id)
        values(#{name}, #{num}, #{library.id})
    </insert>
</mapper>
